.size_button{
    background-color: black !important;
    height: 70px;
    width: 10%;
    font-size: 32px !important;
}

.amiko{
  font-family: 'Amiko', sans-serif!important;
}


.img_acc {
    background-image:url("img/DESIGN DE FOND.svg") ;
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  .margin_button{
    margin-top: 35%;
    padding-bottom: 10%;
  }
  
.bandeaux{
  background-color: #EAFFFB;
  max-width: 100% !important;
  padding: 2% !important;
}

.background{
  background-color: #ffffff;
}

.LogoSize{
  width: 100px !important; 
}

.text_font{
  font-family: 'Abel', sans-serif;
}

.avatar-img {
  width: 55%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  }
  
  .rounded-circle {
  border-radius: 50%!important;
  }

  .avatar-big {
    height:350px !important;
    width:350px !important;
  }

  .the_Sense{
    width: 100px !important;
    height: 100px !important;
    margin: 1%;
    padding-bottom:12px;
  }

  .flex_Align{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: "0.5rem"
  }

  /* Footer et tout la */

  .footer{
    background-color: #3B4040 !important;
    padding: 20px;
  }

  .footerText{
    color: #82FFE1 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 10px;
  }

  .poppins{
    font-family: 'Poppins', sans-serif !important;
  }

  .footerImage{
    height: 30px;
    padding-bottom: 10px;
  }