.size_button{
    background-color: black !important;
    height: 51px;
    width: 13%;
    font-size: 28px !important;
    text-align: center !important;
}

.red{
  color: red;
}

.white{
  color: white !important;
}

.amiko{
  font-family: 'Amiko', sans-serif !important;
  font-size: 23px;
}

.abel{
  font-family: 'Abel', sans-serif !important;
}

.poppinsExtraLight{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 23px;
}


.img_acc {
  background-image:url("img/DESIGN DE FOND.svg") ;
  background-repeat: no-repeat;
  background-size:cover;
}


  
.margin_button{
  margin-top: 13%;
  /* padding-bottom: 10%; */
}
  
.bandeaux{
  background-color: #EAFFFB;
  max-width: 100% !important;
  padding: 2% !important;
  margin-top: 12%;
}

.background{
  background-color: #ffffff;
}

.LogoSize{
  width: 80px !important; 
  margin-left: 20px !important;
}




.avatar-img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-img-moche {
  width: 40%;
  height: 100%;
}
  
.rounded-circle {
  border-radius: 50%!important;
}

.avatar-big {
  height:350px !important;
  width:350px !important;
}



.crealogo{
  width: 200px !important;
  height: 200px !important;
  margin: 1%;
  padding-bottom:4px;
}



.discover{
  font-size: 32px;
  margin-top: 20px !important;
}
.arrow{
  width: 45px !important;
  height: 40px ;
  margin-left: 10px;
  margin-top: 8px;
}

/* Footer et tout la */

.footer{
  background-color: #3B4040 !important;
  padding: 20px;
}

.footerText{
  color: #82FFE1 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

.poppins{
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  margin: 7px;
}

.footerImage{
  height: 30px;
  padding-bottom: 1px;
}

.vir{
  margin-top: 20% !important;
  font-size: 22px;
}

.amiko.bold {
  font-weight: bold !important;
}

.pres{
  background-image: url("./img/BRYCE\ FORME\ \(1\).svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
}

.exp{
  margin: 15%;
  width: 70%;
  margin-bottom: 10%;
  
}

.exp2{
  margin-left: 10%; 
  margin-bottom: 5%;
  margin-top: 5%;
  
}

.nav-link{
  color: rgb(0, 0, 0) !important;
  text-transform: uppercase;
  font-size : 20px !important;
}

.text_color{
  color: rgb(0, 0, 0) !important;
}
.my_account{
  margin-top: 10% !important;
  margin-bottom: 15% !important;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}
.img_signup {
  background-image:url("img/image 42.svg") ;
  background-repeat: no-repeat;
  background-size: 100%;
}

.create_account{
  font-size: 30px;
  font-weight: bold;
}

.card_size{
  width: 75%;
}

.card_size_viking{
  width: 75%;
  border-radius: 10px 10px 10px 10px;
}

.sub_card_size{
  width: 65%;
  background-color: rgba(206, 206, 206, 0.769);
  display: inline-block;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 0px 0px 10px 10px;
}

.sub_card_size_black{
  width: 65%;
  background-color: #494949;
  display: inline-block;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 0px 0px 10px 10px;
}

.sub_card_size_cyan{
  width: 65%;
  background-color: #CDFFF3;
  display: inline-block;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 0px 0px 10px 10px;
}

.sub_card_size_blue{
  width: 65%;
  background-color: #EAFEFF;
  display: inline-block;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 0px 0px 10px 10px;
}

.smol_sub_card_size{
  width: 38%;
  background-color: rgba(206, 206, 206, 0.769);
  display: inline-block;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 0px 0px 10px 10px;
}

.background{
  opacity: 90%;
  backdrop-filter: blur(5px);
}

.int_18{
  color: red !important;
  padding-top: 0px !important;
  display: flex;
  justify-content: left !important;
  font-size: 20px !important;
  margin-bottom: 8px !important;
}

.reservation{
  background-color: #000000;
  background-image: url('./img/image 7.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.img_reserv{
  padding-top: 4%;
}

.reserv_font{
  font-size: 55px;
  font-weight: 50;
  color: #FFFFFF ;
  font-family: 'Poppins', sans-serif;
}

.tarif{
  background:-webkit-linear-gradient(top, #82FFE1 35%, #FFFFFF 65%);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  font-size: 55px;
  font-weight: 80;
  margin-top: 4%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.smallDark{
  color: transparent;
  /* background:-webkit-linear-gradient(top, #000000 10%, #430000 90%); */
  width: 150px;
  fill: red;
}

.smallBattle{
  width: 150px;
  /* padding-top: 15px; */
}

.smallCreative{
  width: 300px;
}

.smallLight{
  width: 150px;
  /* padding-top: 25px; */
}

div.Experiences.row{
  margin-top: 100px !important;
}

.vt{
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'poppins',sans-serif;
  margin-bottom: 0px !important;
}
.vt2{
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'poppins',sans-serif;
}

.experiencesDiv{
  background-image: url('./img/Vector 78.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.experiencesDivBlack{
  background-image: url('./img/Vector 78 (1).svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #111111;
}

.lightExperience{
  padding-top: 150px;
}

.room{
  height: 150px;
  width: 150px;
  filter: invert();
}
.droom{
  height: 150px;
  width: 150px;
}

.flex{
  display: flex;
  margin-right: 8%;
  margin-left: 8%;
  justify-content: space-around;
}

.bandeauxExperiences{
  background-color: #EAFFFB;
  max-width: 100% !important;
  padding: 2% !important;
}

.bandeauxExperiencesBlack{
  background-color: #000000;
  max-width: 100% !important;
  padding: 2% !important;
}
.bandeauxExperiencesBlue{
  background-color: #EAFEFF;
  max-width: 100% !important;
  padding: 2% !important;
}
.bandeauxExperiencesCyan{
  background-color: #CDFFF3;
  max-width: 100% !important;
  padding: 2% !important;
}

.bandeauxCreative{
  background-color: #F2F2F2;
  max-width: 100% !important;
  padding: 2% !important;
}

.pers{
  color: red;
  font-size: 15px;
}

.ttarif{
  color: white;
  font-size: 18px;
}

.vect35{
  background-image: url('./img/Vector 35.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}
 .news{
  text-align: left;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  padding-left: 13% !important;
 }

 .navbar-brand{
  padding-bottom : 0% !important;
 }

 #connection_modal{
  margin-right: 100px !important;
 }

 .decouvrir{
  margin-top: 40%;
 }

.barreReservation{
  width: 125px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

.progres{
  width:45%;
  height:25%;
  margin-bottom: 10%;
}

.mag{
  width:17%;
  height:37%;
  margin-bottom: 5%;
}

.img_about{
  background-image: url("./img/bgAbout.png");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: top;
}

.img_experience_2{
  background-image: url("./img/TRUC\ COOL.svg");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: top;
}

.img_experience_2_black{
  background-image: url("./img/TRUC\ COOL (1).svg");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: top;
}

.compteur{
  color: #FFFFFF !important;
  font-size: 30px;
  font-family: 'poppins',sans-serif;
}

.denise{
  width: 55% ;
  height: 10% ;
}

.blur_carousel{
  background-color: rgba(0,0,0, 0.5);
  margin-bottom: 1%;
}
@media (max-width: 768px) {
  .hidden-mobile{
    display: none;
  }

  .size_button{
    background-color: black !important;
    height: 5%;
    width: 50%;
    font-size: 12px !important;
    text-align: center !important;
}

.avatar-big {
  height:100 !important;
  width:100 !important;
}

  .acceuil-mobile{
    background-image:url("img/DESIGN DE FOND.svg") ;
    background-size:contain;
    background-position:revert;
    background-repeat: no-repeat;
  }

  .nav-font-size{
    font-size: 13px !important;
    padding: 2px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content:right !important;
    margin-right: 0px !important;
  }

  .avatar-img-moche {
    width: 50%;
    height: 50%;
  }

  .center{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
  }

  .compte{
    display: flex;
    justify-content: center;
  }

  .compte-input{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-left: 2%;
  }

  .compte-text{
    padding-bottom: 1% !important;
    font-size: 17px !important;
  }

  .compte-text-align{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .compte-item{
    margin-bottom: 9% !important;
  }

  .compte-button{
    background-color: black !important;
    height: 4%;
    width: 15%;
    font-size: 20px !important;
    text-align: center !important;
    margin-top: 2%;
    margin-bottom: 2% !important;
  }
  .create_account{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5% !important;
  }

  .my_account{
    margin-top: 10% !important;
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
  }
  .title_size{
    color: #3B4040;
    text-transform: uppercase;
    font-size: 25px !important;
  }
  .the_Sense{
    width: 100px !important;
    height: 100px !important;
    margin: 1%;
    padding-bottom:20px;
    padding-left: 5px;
  }

  .flex_Align{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 2px;
  }

  .text_font{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-align: center !important;
  }
  
}



@media (min-width:769px) {

  .hidden-pc{
    display: none;
  }

  .nav-align{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
  }
  .acc-pres-thesense{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
  }
  .item{
    flex: 1 1 150px;
  }
  
  p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .avatar-img-moche {
    width: 70%;
    height: 90%;
  }

  .compte{
    display: flex;
    justify-content: center;
  }

  .compte-input{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-left: 2%;
  }

  .compte-text{
    padding-bottom: 8% !important;
    font-size: 20px !important;
  }

  .compte-text-align{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .compte-item{
    margin-bottom: 8% !important;
  }

  .compte-button{
    background-color: black !important;
    height: 3%;
    width: 13%;
    font-size: 28px !important;
    text-align: center !important;
    margin-top: 2%;
    margin-bottom: 2% !important;
  }
  .create_account{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2% !important;
  }

  .my_account{
    margin-top: 10% !important;
    margin-bottom: 15% !important;
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
  }

  .title_size{
    color: #3B4040;
    font:bold;
    text-transform: uppercase;
    font-size: 29px !important;
  }

  .the_Sense{
    width: 100px !important;
    height: 100px !important;
    margin: 1%;
    padding-bottom:4px;
    padding-left: 5px;
  }

  .flex_Align{
    display: flex;
    align-items: center;
    justify-content: left !important;
    margin: 2px;
  }

  .text_font{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-align: left !important;
  }
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style:none;
  background-color: #eee;
}
.no-outline:focus {
  outline: none;
}
.nav-align{
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}
